body{
    margin: 10px;
    
}
.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
}